*{
    box-sizing: border-box;
}


.container{
    margin: 250px auto;
    width: 600px;
    height: 300px;
    background-color: #fcfcfc;
}
h1{
    padding: 10px;
    text-align: center;
    
}

.content{
    display: flex;
    justify-content: space-around;
}
select{
    width: 150px;
}

button {
    width: 150px;
    height: 40px;
}